/*----------------------------------------------------
	Left Sidebar
---------------------------------------------------- */
#main {
	float: right;
	width: 73%;
	display: block;
}
#main-core {
	margin-left: 30px;
}
#sidebar {
	display: block;
	float: right;
	width: 27%;
}
#sidebar-core {
	margin-right: 50px;
}